Package             Version
------------------- ----------------
aext-assistant      4.0.15
aext-core           4.0.15
aext-panels         4.0.15
aext-share-notebook 4.0.15
anaconda-anon-usage 0.4.4
anaconda-catalogs   0.2.0
anaconda-navigator  2.6.0
anaconda-project    0.11.1
bokeh               3.4.1
Bottleneck          1.3.7
Brotli              1.0.9
conda-build         24.5.1
conda-repo-cli      1.0.88
conda-token         0.5.0+1.g2209e04
cvxopt              1.3.2
cytoolz             0.12.2
dask-expr           1.1.0
distributed         2024.5.0
gym                 0.25.2
HeapDict            1.0.1
lmdb                1.4.1
lz4                 4.3.2
matplotlib          3.9.2
navigator-updater   0.5.1
notebook            7.0.8
numexpr             2.8.7
pip                 24.0
pipreqs             0.5.0
pygame              2.6.1
PyQtWebEngine       5.15.6
PySocks             1.7.1
python-snappy       0.6.1
QtPy                2.4.1
ruamel-yaml-conda   0.17.21
scikit-learn        1.5.2
sip                 6.7.12
ujson               5.10.0
wheel               0.43.0
